.head
  %img.logo{src: 'https://raw.github.com/3incomv/3incomv-official-site-rest/master/content/images/logo.png'}
  %h1 山陰コンピュータ部は2013年6月の開催を最後に活動を休止しました。
  %a.detail_link{href: 'https://www.facebook.com/3incomv/posts/546019655436304'}
    詳しくはこちら
    %i.icon-arrow-right

.page-header
  %h2 スタッフ

.row-fluid
  %ul.thumbnails
    %li.span4
      .thumbnail
        %img{src: 'https://raw.github.com/3incomv/3incomv-official-site-rest/master/content/images/saeki.png'}
        .caption
          %h3
            元恒 冴基
            %small Mototsune Saeki
          %p
            山陰コンピュータ部を作った人。
            %br
            無駄に溢れる行動力だけを頼りに過ごしている。
          %p
            %a{href: 'https://www.facebook.com/saeki.mototsune'}
              %i.icon-facebook-sign.icon-3x
            %a{href: 'https://twitter.com/bomcat'}
              %i.icon-twitter-sign.icon-3x

    %li.span4
      .thumbnail
        %img{src: 'https://raw.github.com/3incomv/3incomv-official-site-rest/master/content/images/yuta.png'}
        .caption
          %h3
            木村 勇太
            %small Kimura Yuta
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p
            %a{href: 'https://www.facebook.com/saeki.mototsune'}
              %i.icon-facebook-sign.icon-3x
            %a{href: 'https://twitter.com/bomcat'}
              %i.icon-twitter-sign.icon-3x
    %li.span4
      .thumbnail
        %img{src: 'https://raw.github.com/3incomv/3incomv-official-site-rest/master/content/images/rikuya.jpg'}
        .caption
          %h3
            桑原 陸也
            %small Kuwahara Rikuya
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p
            %a{href: 'https://www.facebook.com/saeki.mototsune'}
              %i.icon-facebook-sign.icon-3x
            %a{href: 'https://twitter.com/bomcat'}
              %i.icon-twitter-sign.icon-3x

.page-header
  %h3 最新情報
<div class="fb-like-box" data-href="https://www.facebook.com/3incomv" data-height="350" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"></div>

