%meta{charset: 'utf-8'}
%meta{name: 'description', content: '山陰コンピュータ部は、島根、鳥取の若年層(U-25)をターゲットとしたIT系の勉強会です。若年プログラマの交流と学習の場の提供を目的としています。講師を招いてみんなで同じ事を学ぶわけではなく各々が持ち込んだ好きなことをしています。 その中で興味のあることについて共有したり、「これどうやるの？」といったことを参加者同士で教え合ったりしています。'}
%meta{name: 'keywords', content: '山陰コンピュータ部, 山陰, 勉強会, プログラミング, 島根, 鳥取, 松江'}
%meta{property: 'og:title', content: '山陰コンピュータ部'}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:url', content: 'http://3incomv.info'}
%meta{property: 'og:image', content: 'http://3incomv.info/images/logo.png'}
%meta{property: 'og:country-name', content: 'Japan'}
%meta{property: 'og:description', content: '山陰コンピュータ部は、島根、鳥取の若年層(U-25)をターゲットとしたIT系の勉強会です。若年プログラマの交流と学習の場の提供を目的としています。講師を招いてみんなで同じ事を学ぶわけではなく各々が持ち込んだ好きなことをしています。 その中で興味のあることについて共有したり、「これどうやるの？」といったことを参加者同士で教え合ったりしています。'}
